.loaderElement {
    height: 60vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 150px;
    height: 150px;
    margin: 0;
    margin-right: 10px;

    border: 3px solid rgb(0, 162, 255, 0.2);
    border-radius: 50%;

    border-left-color: rgb(0, 162, 255);
    animation: load 1.5s linear infinite;
  }
  @keyframes load {to{transform: rotate(1turn)}}